.logo {
    display: none;
}

.header {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1000px){
    .planet-section {
        display: none;
    }

    .names {
        display: none;
    }

    .logo {
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
    
    .h1-logo {
        font-size: 4rem;
    }
    
    .earthlogo {
        width: 3rem;
        height: 3rem;
    }
    
    .stick {
        height: 23px;
        width: 10px;
    
    }
}