.logo {
    display: none;
}

.header {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1000px){
    .planet-section {
        display: none;
    }

    .names {
        display: none;
    }

    .logo {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .h1-logo {
        font-size: 3rem;
    }

    .earthlogo {
        width: 4rem;
        height: 4rem;
    }
}